<div>
    <h1>Detalles marca</h1>
    <div class="card" style="width: 18rem;" *ngFor="let cubo of cubos">
        <img src="{{cubo.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cubo.nombre}}</h5>
            <p class="card-text">{{cubo.marca}}</p>
            <a  [routerLink]="['/detalles/', cubo.idCubo]" class="btn btn-success" >Detalles</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
  </div>
